.mobile-nav {
	background-image: url("../../images/mobile-menu-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	ul {
		li {
			@apply relative;
			ul {
			}
		}
	}
	.dropdown {
		@apply bg-background text-accent p-6 rounded-lg font-normal normal-case mt-3;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: var(--color-main);
			top: 32px;
			left: 0;
		}
		h3 {
			@apply font-semibold text-base tracking-widest border-b uppercase border-main pb-2 w-full mb-4;
		}
		li {
			@apply pb-2 hover:text-main duration-300;
		}
	}
}
